<div class="demo">

    <ul class="funcs-menu">
      <li><a [routerLink]="['default']" routerLinkActive="active" >Default functionality</a></li>
      <li><a [routerLink]="['accept']" routerLinkActive="active" >Connect lists</a></li>
      <li><a [routerLink]="['propagation']" routerLinkActive="active" >Display as grid</a></li>
      <li><a [routerLink]="['revert']" routerLinkActive="active" >Drop placeholder</a></li>
      <li><a [routerLink]="['photo-manager']" routerLinkActive="active" >Handle empty lists</a></li>
      <li><a [routerLink]="['visual-feedback']" routerLinkActive="active" >Include / exclude items</a></li>
      <li><a [routerLink]="['visual-feedback']" routerLinkActive="active" >Portlets</a></li>
    </ul>
  
    <div class="viewport">
      <router-outlet></router-outlet>
    </div>
  </div>
