.drag-box {
    padding: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 240px;

    .info-item {
        padding: 8px;
        margin: 8px 0;
        border: 1px solid #cccccc;
        border-radius: 2px;
    }
}